<ng-container *ngIf="!loginpageIsactive">
<div class="main"> 
  <div class="info" (click)="child.personalIsActive = true;child.messageIsActive = false;child.contactIsActive = false;" [ngClass]="child.personalIsActive ? 'background' : none" [ngClass]="child.form.disabled ? 'done' : none" >
    <h3>Personal Information</h3>
  </div>
  <div class="info"  (click)="contactclick()" [ngClass]="child.contactIsActive ? 'background' : none" [ngClass]="child.form2.disabled ? 'done' : none">
    <h3>Contact Information</h3>
  </div>
  <div class="info" (click)="messageclick()" [ngClass]="child.messageIsActive ? 'background' : none" [ngClass]="child.form3.disabled ? 'done' : none">
    <h3>Message</h3>
  </div>
</div> 

<div>
  <app-child #child ></app-child>
</div>




<div class="buttons">
  <button class="cancel" (click)="cancel()">Cancel</button>
  <button *ngIf="!personalIsActive" class="next" (click)="back()">Back</button>

  <button *ngIf="!messageIsActive" class="next" (click)="next()">Next</button>
  <button *ngIf="messageIsActive" class="next" (click)="register()">Sign Up</button>
</div>
</ng-container>

<ng-container *ngIf="loginpageIsactive">
  <app-loginpage [state]="state"></app-loginpage>
</ng-container>